
  
  

  /*! Advertisement Kod Satırı */
  .advertisement {
    background-color: var(--advertisementBgColor);
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.8rem 0;
    word-spacing: 0.3rem;
  }
  /*! Nav Kod Satırı */
 
  
  
 
  
  /*! brandName ile ilgili css kodları */
  
  
  
  
  
 
  
  /*! menu-list ile ilgili kodlar */

  
 
 
  /*! icon-list ile ilgili kodlar */
 
  
  
  /*! Container ile ilgili css kodları */
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 12rem 16rem 3rem;
  }
  /*! card ile ilgili css kodları */
  .card {
    margin: 4rem 3rem;
    padding: 2rem;
    width: 35rem;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  }
  
  .card .card_information {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card .discount_tag {
    padding: 1.5rem 2rem;
    text-align: center;
    background-color: #c20000;
    color: white;
    font-weight: 900;
    font-size: 1.6rem;
  }
  
  .card .like_button {
    -webkit-text-stroke: 3px black;
    color: transparent;
    font-size: 2.4rem;
    transition: all 0.6s;
  }
  
  .card .like_button:hover {
    -webkit-text-stroke: 3px red;
  }
  
  .card .like_button.like {
    -webkit-text-stroke: 3px red;
    color: red;
  }
  
  .card .shoes_image {
    margin: 1rem 0;
    height: 25rem;
    background-image: url("https://contents.mediadecathlon.com/p1794832/kb72c47d735ab09aaddc6ef6e8310201a/run-active-spor-ayakkabi.jpg?format=auto&quality=60&f=500x0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card:hover .shoes_image {
    background-image: url("https://productimages.hepsiburada.net/s/124/600-800/110000074579137.jpg");
  }
  
  .shoes_image_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .shoes_image_list_item {
    margin: 1rem;
    height: 5rem;
    width: 5rem;
    background-image: url("https://contents.mediadecathlon.com/p1876652/k$2685b59bc8d289abf686ca79841bc3e9");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /*! shoe-sizes ile ilgili css kodları */
  
  .shoe_sizes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
  
  .card:hover .shoe_sizes {
    visibility: visible;
  }
  
  .shoe_sizes_item {
    margin: 0.8rem 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0s;
  }
  
  .shoe_sizes_item:hover {
    color: rgb(255, 123, 0);
    transition: all 0.4s;
  }
  
  /*! shoes_information ile ilgili css kodları */
  
  .shoes_information {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .shoes_information_item.productName{
    width: calc(100% - 8.3rem);
    border: 1px solid red;
  }
  .shoes_information .shoesName {
    
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.2rem;
    font-weight: 400;
    position: relative;

  }
  .shoes_information .shoesName::before{

    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-image: linear-gradient(to right,transparent 0 90%,rgba(255, 255, 255,0.6) 90% 100%);
  }
  
  .shoes_information_item a.shopping_button i {
    font-size: 2rem;
    color: white;
    background-color: black;
    padding: 2.2rem;
    margin: 1rem;
    transition: all 0.6s;
    border:1px solid green;
  }
  
  .shoes_information_item a.shopping_button i:hover {
    background-color: red;
  }
  
  .shoesPrice {

    padding: 2rem 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .shoesPrice .shoesNewPrice {
    color: red;
    font-weight: 800;
  }
  
  /*! Toggle-buttons ile ilgili css kodları */
  .toggleButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }
  
  .toggleButton {
    padding: 1rem 1.4rem;
    font-weight: 800;
    font-size: 1.6rem;
    margin: 0 0.6rem;
  }