
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    

}
.navbar{

    position: sticky;
    background-color: rgb(180, 140, 140);
    transition: background-color 0.75s ease;
    height:90px;
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap:10px;
    
   

}
.navbar:hover{
    background-color: rgb(180, 140, 140);
    color: rgb(238, 220, 220);

}
.logo{
    
    height: 80px;
    margin: auto;
    padding-top: 7px;
    cursor:pointer;
    
}
.logo img{
    max-height:100%;
    max-width:100%;
    object-fit: contain;
    border-radius: 40%;
}
.navbar nav{
    width: 100%;
    height: 100%;
    grid-column-start:2 ;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 80% 10%;
    align-items: center;
    justify-content: center;
    
    
}

.home{
    
    
    
    text-align: center;
    padding-right: 90px;
}
.home{
   
    text-align: center;
    padding-right: 90px;
    margin-top: 5px;
    font-size: 15px;
}
.link{
    color: rgb(192, 198, 202);
    
}

















