



.rightside{
   
   
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 10px;
    
    
}

.search
{
        cursor:pointer;
        color: rgb(186, 206, 206);
}

.login{
    size: 20px;
    color:rgb(186, 202, 202);
}