main {
    padding: 4rem 10rem;
    display: flex;
    align-items: top;
    justify-content: center;
    position: relative;
    top: 10rem;
}

.product_container {
    flex-basis: auto;
    width: 100%;
}

.product_container h2 {
    font-size: 2.4rem;
    font-family: var(--Noto);
    font-weight: 400;
}

.product_container h2 span {
    border-bottom: 4px solid orangered;
}

.recommended_products {
    margin-bottom: 4rem;
    border-top: 1px solid black;
    padding: 5rem 0;
    height: 50rem;
    background-color: rgb(179, 255, 36);
    color: white;
    text-align: center;
    line-height: 50rem;
    font-size: 6.4rem;
}

.shopping_cart_list {
    margin: 2rem 0 3rem;
    box-shadow: 0 0 5px black;
    
}
.shopping_cart_product {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 1rem 0;
    
  }
  .shopping_cart_product input {
    background-color: white;
    color: orange;
    border: 1px solid orange;
    padding: 1rem;
    font-weight: 800;
    font-size: 1.4rem;
  }
.order_confirmation {
    position: sticky;
    top: 5rem;
    width: 35rem;
    margin: 0 3rem;
    height: 30rem;
}

.order_confirmation button {
    width: 100%;
    padding: 1rem 2rem;
    background-color: rgb(255, 102, 0);
    color: white;
    border: none;
    outline: none;
    font-size: 2rem;
    font-family: var(--Konit);
    border-radius: 1rem;
    transition: all .6s;
}

.order_confirmation button:hover {
    background-color: rgb(255, 153, 0);
}

.order_confirmation button i {
    margin-left: .6rem;
}

.order_summary {
    padding: 2rem 1rem;
    margin-top: 3rem;
    box-shadow: 0 0 10px black;
}

.order_summary h2 {
    font-size: 2.4rem;
    font-weight: 400;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}

.total_order_price {
    padding: 2rem 0;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    text-align: center;
    height: 30rem;
    margin-top: 3rem;
    line-height: 30rem;
    font-size: 4.2rem;
    color: white;
    background-color: black;
}