


.navbar {
    display: flex;
    align-items: center; /* dikeyde hizalar*/
    justify-content: space-around; /* eşit aralıklı böler */
    padding: 20px;
}

.navbar .logo img {
    width: 90px;
}

nav ul li {
    display: inline-block; /* etiketi hem block hem inline seviyesinde değerlendirir.*/
    margin-right: 25px;
}

nav li a {
    color: #8a45c5;
    font-size: large;
}

nav {
    margin-right: 35%;
}











