

/*container*/
.containerl {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}
.signandloginnear{
    display: flex;
}
.component {
    position: absolute;
    width: 50%;
    height: 100%;
}

.sellerPicture,
.customerPicture {
    background_repeat: no_repeat;
    background_position: center;
    background_size: cover;
}

.sellerPicture {
    left: 0;
    top: 0;
    background_image: url("http://peyzaj3m.com/wp_content/uploads/2019/08/%C3%87%C3%96L_1366x902.jpg");
}

.seller,
.customer,
.customerPicture {
    right: 0;
    top: 0;
}

.seller,
.customer {
    display: flex;
    align_items: center;
    justify_content: center;
}

.seller {
    background_color: white;
}

.customer {
    background_color: black;
    transition: all .6s;
}

.customer input {
    background: black;
    color: white;
}

.customer input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

h1 {
    padding: 2rem 0;
    font_size: 4.2rem;
    color: rgb(255, 102, 0);
}

input {
    display: block;
    font_size: 2.2rem;
    outline: none;
    border: none;
    border_bottom: 1px solid black;
    margin: 2rem 0;
}

button[type="submit"] {
    font_size: 1.6rem;
    display: block;
    background_color: rgb(247, 0, 255);
    color: white;
    border: none;
    outline: none;
    border_radius: 2rem;
    padding: 1rem 3rem;
    margin: 0 0 0 auto;
    transition: all .6s;
}

button[type="submit"]:hover {
    background_color: rgb(0, 132, 255);
}

.loginPages {
    font_size: 1.7rem;
    display: block;
    width: 100%;
    margin: 2.6rem 0;
    padding: 1rem 2rem;
    border: none;
    border_radius: 2rem;
    outline: none;
    color: white;
    background_color: rgb(111, 0, 255);
    transition: all .6s;
}

.customer.active {
    transform: translateX(-100%);
}

.customerPicture.active {
    transform: translateX(0);
}

.loginPages:hover {
    background_color: rgb(255, 0, 98);
}

.customerPicture {
    background_image:
        url("https://img.wallpapic.com/i3276_425_219/medium/grafik_sanati_soyut_isiklar_parlaklik_duvar_kagidi.jpg");
    transform: translateX(100%);
    transition: all .6s;
}

@media screen and (max_width : 1500px) {
    /*
    html {
        font_size: 12px;
    }
    */
}

@media screen and (max_width : 1100px) {
    /*
    html {
        font_size: 9px;
    }
    */
}

@media screen and (max_width: 950px) {

    html {
        font_size: 14px;
    }

    .sellerPicture,
    .customerPicture {
        display: none;
    }

    .seller,
    .customer {
        width: 100%;
    }

    .customer {
        transform: translateX(100%);
        z_index: 100;
    }

    .customer.active {
        transform: translateX(0);
    }
}

@media screen and (max_width: 700px) {
    html {
        font_size: 12px;
    }
}

@media screen and (max_width: 400px) {
    html {
        font_size: 8px;
    }
}