
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: rgba(202, 175, 168);
  --navFontFamily: "Nunito Sans", sans-serif;
}
html {
  font-size: 10px;
}

ul {
  list-style: none;
}

a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.invisible {
  display: none;
}

@media screen and (max-width: 1100px) {
  .menu_list {
    flex-direction: column;
    position: fixed;
    top: 11.4rem;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5rem 2rem;
    transform: translateX(0);
    transition: all 0.6s;
  }

  .menu_list.animation {
    transition: none;
  }

  .menu_list_item {
    margin: 1.2rem 0;
  }

  .menu_list.closed {
    transform: translateX(100%);
  }

  .icon_list_item.invisible {
    display: inline-block;
  }
}

@media screen and (max-width: 1000px) {
  .introduction {
    flex-direction: column;
    padding: 4rem 10rem;
  }

  .introduction > div {
    margin: 2rem;
    width: 100%;
  }

  .sponsor {
    width: 50%;
  }

  .product_information {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product_information .card {
    width: 80%;
    margin: 2rem;
  }

  .sponsors {
    padding: 6rem 10rem;
  }
}

@media screen and (max-width: 820px) {
  html {
    font-size: 7px;
  }
  header div h2 {
    font-size: 4.8rem;
  }

  .brand_promotion {
    padding: 10rem 5rem;
  }

  .introduction {
    padding: 4rem 6rem;
  }

  .best_of_the_week .card_picture {
    width: 30rem;
    height: 45rem;
  }
}

