
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: rgba(202, 175, 168);
  --navFontFamily: "Nunito Sans", sans-serif;
}
html {
  font-size: 10px;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}


